header .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
header .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
header .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
header .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
header input:checked + .slider {
  background-color: cornflowerblue;
}
header input:focus + .slider {
  box-shadow: 0 0 1px cornflowerblue;
}
header input:checked + .slider:before {
  transform: translateX(26px);
}
header .slider.round {
  border-radius: 20px;
}
header .slider.round:before {
  border-radius: 50%;
}

.middle {
  display: flex;
  flex-direction: column;
  width: 10%;
}
.middle .List {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.middle .List hr {
  width: 100%;
}
.middle .List h1 {
  margin: 0px;
  margin: auto;
}
.middle .booklist {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  border: 2px solid #333;
  padding: 15px;
}
.middle .booklist .book-image {
  width: 50%;
}
.middle .booklist .book-title {
  font-size: 30px;
}
.middle .booklist .book-author {
  font-size: 25px;
}
.middle .booklist .book-rating {
  width: 95%;
}
.middle .booklist .rating-count {
  width: 95%;
}
.middle .bookList {
  display: flex;
  flex-direction: column;
}
.middle .sidebar {
  height: 100%;
  width: 20%;
  padding: 10px;
}
.middle .sidebar .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.middle .sidebar .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.middle .sidebar .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.middle .sidebar .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
.middle .sidebar input:checked + .slider {
  background-color: cornflowerblue;
}
.middle .sidebar input:focus + .slider {
  box-shadow: 0 0 1px cornflowerblue;
}
.middle .sidebar input:checked + .slider:before {
  transform: translateX(26px);
}
.middle .sidebar .slider.round {
  border-radius: 20px;
}
.middle .sidebar .slider.round:before {
  border-radius: 50%;
}

.searchList {
  display: flex;
  flex-wrap: wrap;
  width: 88%;
  margin-left: 15px;
}
.searchList .test {
  display: flex;
  flex-direction: column;
  width: 10%;
}
.searchList .search__list {
  margin: 15px;
  margin-top: 0px;
  width: 15%;
}
.searchList .search__list .search__list__title {
  flex-grow: 2;
}

.all {
  display: flex;
  width: 100%;
}
.all .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.all .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.all .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}
.all .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
.all input:checked + .slider {
  background-color: cornflowerblue;
}
.all input:focus + .slider {
  box-shadow: 0 0 1px cornflowerblue;
}
.all input:checked + .slider:before {
  transform: translateX(26px);
}
.all .slider.round {
  border-radius: 20px;
}
.all .slider.round:before {
  border-radius: 50%;
}
.all .sidebar {
  width: 10%;
}
.all .books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.all .books .List {
  width: 30%;
}
.all .book-title {
  width: auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainform {
  margin: 15px;
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=styles.css.map */